/*

1. common styles
2. header
3. banner
4. shop
5. delivery
6. footer

*/

/*------------------------------
        1. common styles
-------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html,
body,
.wrap {
    height: 100%;
    font-family: Verdana, sans-serif;
}

body {
    background: #fff;
}

.container {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 12px;
}

/*--------------------------------------
              2. header
---------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 96px;
    width: 100%;
    padding-top: 24px;
    background: rgba(92, 188, 248, 0.5);
    border-bottom: 2px solid #3f627e;
    color: #fff;
    z-index: 4;
    transition: all 0.5s ease;
}

.header_nav {
    display: table;
    width: 100%;
}

.header_nav li {
    display: table-cell;
    font: bold 26px/72px Verdana, sans-serif;
    text-align: center;
}

.header_nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
}

.header_nav li a:hover {
    color: #3f627e;
}

/*    fixed menu     */
#start-screen .fixed {
    height: 72px;
    padding-top: 0;
    background: #5cbcf8;
}

/*   visibility mobyle menu  */
.vis-menu .header_nav {
    height: 100vh;
    display: block;
    background: #5cbcf8;
    padding: 60px 0 0;
}

.vis-menu li {
    display: block;
    background: #5cbcf8;
    border-bottom: 1px solid #3f627e;
}

.vis-menu li:first-child {
    border-top: 1px solid #3f627e;
}

.vis-menu a:active {
    background: #56b0e8;
}

@media screen and (max-width: 960px) {
    .header {
        padding-top: 0;
        height: 60px;
    }

    #start-screen .fixed {
        height: 60px;
    }

    /*     menu gamburger   */
    .menu-trigger {
        position: absolute;
        right: 30px;
        top: 10px;
        width: 40px;
        height: 40px;
        padding: 18px 7px;
        cursor: pointer;
        z-index: 10;

    }

    .menu-trigger span {
        display: block;
        width: 27px;
        height: 4px;
        background: #fff;
        position: relative;
        transition: background 0.3s ease;

    }

    .fixed .menu-trigger span, .vis-menu .menu-trigger span {
        background: #3f627e;
    }

    .menu-trigger span:before {
        content: '';
        position: absolute;
        top: -8px;
        width: 27px;
        height: 4px;
        background: inherit;
        transition: transform 0.3s ease;

    }

    .menu-trigger span:after {
        content: '';
        position: absolute;
        top: 8px;
        width: 27px;
        height: 4px;
        background: inherit;
        transition: transform 0.3s ease;
    }

    .vis-menu .menu-trigger span {
        width: 0;
    }

    .vis-menu .menu-trigger span:before {
        -webkit-transform: translateY(8px) rotateZ(-225deg);
        transform: translateY(8px) rotateZ(-225deg);
        background: inherit;
    }

    .vis-menu .menu-trigger span:after {
        -webkit-transform: translateY(-8px) rotateZ(225deg);
        transform: translateY(-8px) rotateZ(225deg);
        background: inherit;
    }

    /*    end menu gamburger   */
    .header_nav {
        display: none;
    }

    .nav_item {
        float: left;
    }

    .header_nav li {
        font: bold 18px/72px Verdana, sans-serif;
    }
}

/*--------------------------------------
              3. banner
---------------------------------------*/
.banner {
    position: relative;
    background: #5cbcf8 url("../images/banner_2.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.banner_text {
    padding-top: 250px;
    text-align: center;
    color: #f8970e;
    background: rgba(0, 0, 0, 0.4);
}

.banner_text h1 {
    font: bold 55px/55px Verdana, sans-serif;
    padding: 0 20px;
}

.banner_text h2 {
    font: normal 45px/50px Verdana, sans-serif;
}

.banner_text .banner_btn {
    margin: 50px 0 150px;
    padding: 0 25px;
    display: inline-block;
    border: 2px solid #f8970e;
    color: #fff;
    background: transparent;
}

.banner_text .banner_btn:hover {
    border: 2px solid #f8970e;
    color: #fff;
    background: #f8970e;
}

.banner_background__image {
    display: block;
    min-width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 1200px) {
    .banner_text {

    }

    .banner_text h1 {
        font: bold 28px/32px Verdana, sans-serif;
    }

    .banner_text h2 {
        font: 24px/36px Verdana, sans-serif;
    }
}

@media screen and (max-width: 740px) {
    .banner_text h2 {
        display: none;
    }

    .banner_text h1 {
        font: bold 24px/32px Verdana, sans-serif;
    }

    .banner_text .banner_btn {
        font-size: 19px;
        line-height: 40px;
        margin: 50px 0 50px;
    }
}

@media screen and (max-width: 540px) {
    .banner_text .banner_btn {
        margin-top: 20px;
    }
}

/*--------------------------------------
              4. shop
---------------------------------------*/
.main-content {
    padding-top: 60px;
}

.content_block {
    background: #5cbcf8;
    color: #fff;
    margin-bottom: 120px;
    position: relative;
}

.content_block__text {
    min-height: 480px;
    padding: 17px 40px 20px;
    background: #5cbcf8;
}

.content_block__text p {
    width: 53%;
    margin-bottom: 30px;
    font: normal 22px/28px Verdana, sans-serif;
    color: #3f627e;
}

.content_block__text p:last-child {
    margin-bottom: 0;
}

.content_block__text .product-name {
    color: #fff;
    font: bold 26px/30px Arial, sans-serif;
}

.content_block__card {
    position: absolute;
    right: 42px;
    top: -38px;
    width: 41%;
    min-width: 385px;
    padding: 45px;
    border-radius: 15px;
    background: #3f627e;
    text-align: center;
}

.card-title {
    margin-top: 37px;
    font: bold 35px/35px Arial, sans-serif;
}

.product-description {
    min-height: 130px;
    margin-top: 36px;
    font: normal 25px/35px Arial, sans-serif;
}

.product-price {
    margin: 67px 0 55px;
    font: bold 24px/28px Arial, sans-serif;
}

.product-price p {
    display: inline-block;
}

.product-price span {
    font-size: 34px;
}

.button {
    display: block;
    padding: 0 10px;
    border-radius: 20px;
    background: #fff;
    color: #3f627e;
    font: bold 41px/80px Verdana, sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background 0.5s ease, color 0.5s ease;
}

.small-btn {
    line-height: 65px;
    font-size: 26px;
}

.button:hover {
    background: #5cbcf8;
    color: #fff;
}

.button:active {
    transform: translate(2px, 2px);
}

@media screen and (max-width: 1200px) {
    .card-title {
        margin-top: 25px;
        font: bold 28px/28px Arial, sans-serif;
    }

    .content_block__text p {
        width: 45%;
    }

    .product-description {
        min-height: 130px;
        margin-top: 36px;
        font: normal 20px/28px Arial, sans-serif;
    }

    .product-price {
        font: bold 20px/24px Arial, sans-serif;
    }

    .button {
        border-radius: 15px;
        font: bold 30px/65px Verdana, sans-serif;
    }

}

@media screen and (max-width: 960px) {
    .content_block {
        margin-bottom: 40px;
        border-radius: 20px;
        overflow: hidden;
    }

    .content_block__text p {
        margin-bottom: 30px;
        font: normal 18px/24px Verdana, sans-serif;
    }

    .content_block__text {
        min-height: inherit;
        padding: 17px 15px 20px;
    }

    .content_block__text p {
        width: 100%;
    }

    .content_block__card {
        position: static;
        width: 100%;
        min-width: inherit;
        border-radius: 0;
        padding: 5px 40px 25px;
    }

    .product-description {
        min-height: inherit;
        margin-top: 20px;
    }

    .product-price {
        margin: 30px 0 20px;
    }

    .scroll-bg {
        background-position: 50% 50% !important;
    }
}

@media screen and (max-width: 540px) {
    .main-content {
        padding-top: 30px;
    }

    .product-price {
        font-size: 18px;
    }

    .content_block__text p {
        margin-bottom: 20px;
        font: normal 16px/22px Verdana, sans-serif;
    }

    .content_block__text .product-name {
        font: bold 22px/26px Arial, sans-serif;
    }

    .product-description {
        min-height: 80px;
        margin-top: 20px;
        font: normal 16px/22px Arial, sans-serif;
    }

    .card-title {
        margin-top: 20px;
        font: bold 22px/26px Arial, sans-serif;
    }

    .product-price {
        margin: 5px 0 20px;
    }

    .product-price span {
        font-size: 22px;
    }

    .button {
        border-radius: 15px;
        font: bold 20px/40px Verdana, sans-serif;
    }
}

/*---------------------------------
    5. delivery
----------------------------------*/
#delivery {
    padding: 120px 0 200px;

}

.scroll-bg {
    background: url("../images/bg.jpg") no-repeat fixed 50% 0;
    background-size: cover;
    height: auto;
}

.delivery {
    padding: 20px 0 40px;
    color: #fff;
    background: #3f627e;
}

.delivery_title {
    margin-bottom: 5px;
    font: bold 34px/75px Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.delivery h4 {
    font: normal 22px/50px Verdana, sans-serif;
}

.delivery h4 span {
    font-size: 1.1em;
    font-weight: bold;
    white-space: nowrap;
}

.delivery_district {
    font-size: 20px;
    line-height: 28px;
}
.delivery_district__block {
    margin-top: 10px;
    width: 50%;
    float: left;
}
.delivery_district__block:last-child {
    width: 100%;
    float: none;
}

.delivery_district h3 {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
}
.delivery_district h5 {
    font-weight: bold;
    font-style: italic;
}

.delivery_slogan {
    color: #fff;
    font: normal 50px/140px Verdana, sans-serif;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .delivery_slogan {
        font: 48px/260px Verdana, sans-serif;
    }
}
@media screen and (max-width: 960px) {
    .delivery_district__block {
        margin-top: 10px;
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 740px) {
    .delivery_title {
        margin-bottom: 5px;
        font: bold 28px/40px Verdana, sans-serif;
    }

    .delivery_slogan {
        font: 30px/60px Verdana, sans-serif;
    }
}

@media screen and (max-width: 540px) {
    #delivery {
        padding: 60px 0 60px;
    }
    .delivery h4 {
        font: normal 17px/24px Verdana, sans-serif;
        margin-bottom: 8px;
    }
    .delivery_district {
        font-size: 16px;
        line-height: 22px;
    }
    .delivery_slogan {
        padding: 0 15px;
        margin-top: 10px;
        font: 26px/30px Verdana, sans-serif;
    }
}

/*---------------------------------
    6. footer
----------------------------------*/
.footer_wrap {
    background: #fff;
}

.footer {
    padding: 100px 110px 90px;
    color: #fff;
}

.footer_title {
    margin-bottom: 5px;
    font: bold 34px/50px Verdana, sans-serif;
    color: #5cbcf8;
    text-align: center;
    text-transform: uppercase;
}

.footer_contact {
    font: normal 26px/80px Verdana, sans-serif;
    letter-spacing: 0.08em;
    color: #5cbcf8;
    text-align: center;
}

.footer_form {
    padding: 12px 0;
}

.footer_form fieldset {
    width: 39%;
    float: left;
}

.footer_form fieldset input {
    display: block;
    height: 65px;
    width: 100%;
    margin-bottom: 24px;
    padding: 0 30px;
    border-radius: 10px;
    border: 1px solid #7c7c7c;
    font: normal 20px/65px Verdana, sans-serif;
    font-style: italic;
    color: #7c7c7c;
    transition: box-shadow 0.5s ease;
}

.footer_form fieldset input:last-child {
    margin-bottom: 0;
}

.footer_form fieldset input:active,
.footer_form textarea:active,
.footer_form fieldset input:focus,
.footer_form textarea:focus {
    box-shadow: inset 0 0 25px -4px #5cbcf8;
    outline: none;
}

.message_block {
    width: 59%;
    float: right;
}

.footer_form textarea {
    display: block;
    width: 100%;
    height: 155px;
    resize: none;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #7c7c7c;
    font: normal 20px/26px Verdana, sans-serif;
    font-style: italic;
    color: #7c7c7c;
    transition: box-shadow 0.5s ease;
}

.footer_form input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    background: #3f627e;
    color: #fff;
}

.footer_form input[type="submit"]:hover {
    background: #5a89ac;
}

.footer_social {
    height: 130px;
    background: #5cbcf8;
}

.footer_social .top-button {
    display: block;
    width: 200px;
    margin: 0 auto;
    color: #fff;
    font: bold 28px/130px Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    transition: color 0.5s ease;
}

.footer_social .top-button:hover {
    color: #3f627e;
}

@media screen and (max-width: 1024px) {
    .footer_form fieldset {
        width: 100%;
    }

    .message_block {
        width: 100%;
        float: none;
    }

    .footer_form fieldset input:last-child {
        margin-bottom: 24px;
    }

    .footer_social {
        height: 90px;
    }

    .footer_social .top-button {
        line-height: 90px;
    }
}

@media screen and (max-width: 960px) {
    .footer {
        padding: 50px 20px 40px;
    }
}

@media screen and (max-width: 640px) {
    .footer_form fieldset input {
        height: 40px;
        margin-bottom: 24px;
        padding: 0 15px;
        border-radius: 10px;
        font: italic 18px/40px Verdana, sans-serif;
    }

    .footer_form textarea {
        padding: 15px;
        font: italic 18px/24px Verdana, sans-serif;
    }

    .footer_title {
        font: bold 28px/40px Verdana, sans-serif;
    }

    .footer_contact {
        font: 17px/35px Verdana, sans-serif;
        letter-spacing: 0;
    }

    .footer_form input[type="submit"] {
        line-height: 40px;
        font-size: 20px;
    }

    .footer_social {
        height: 60px;
    }

    .footer_social .top-button {
        line-height: 60px;
        font-size: 20px;
    }

}
