/*

1. common styles
2. header
3. banner
4. shop
5. delivery
6. footer

*/

/*------------------------------
        1. common styles
-------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html,
body,
.wrap {
    height: 100%;
    font-family: OenSans-Light, sans-serif;
}

body {
    background: #ccc;
}

.container {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 12px;
}
.projects {
    background: #fff;
    height: 100vh;
}
.projects>h1 {
    font: bold 20px/50px OpenSans-Bold, sans-serif;
}
.project-dlock {
    margin: 20px 0;
}