/*

1. common styles
2. header
3. banner
4. shop
5. delivery
6. footer

*/

/*------------------------------
        1. common styles
-------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html,
body,
.wrap {
    height: 100%;
    /*font-family: OenSans-Light, sans-serif;*/
    font-family: 'adriane_textregular', sans-serif;
    color: #494C4E;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background: #fff;
}

.container {
    position: relative;
    max-width: 1240px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 12px;
}

.hidden {
    display: none;
}

.section-title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 34px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
}

.header {
    background: transparent;
    overflow: hidden;
}

.menu-trigger {
    color: #91f561;
    font-weight: bold;
    font-size: 26px;
    display: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navigation {
    height: 50px;
    margin-top: 20px;
    float: right;
}

.navigation_item {
    display: inline-block;
}
.navigation_link.active {
    color: #91f561;
}
.navigation_link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px;
    color: #494C4E;
}

.navigation_link:before {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 25%;
    margin-left: -50%;
    width: 100%;
    height: 2px;
    background: #91f561;
    visibility: hidden;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    will-change: filter;
}

.navigation_link:hover:before {
    left: 50%;
    visibility: visible;
    transition: all .5s ease;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.header-slogan {
    position: absolute;
    top: 200px;
    left: 20px;
    z-index: 10;
}

.header-slogan h1 {
    font-size: 40px;
    line-height: 40px;
    text-transform: capitalize;
}

.header-slogan h2 {
    margin-top: 20px;
    font-size: 28px;
    line-height: 28px;
    text-transform: capitalize;
}

.start-screen {
    position: relative;
    height: 100vh;
    /*background: #fff;*/
}

.start-screen_img__wrap {
    width: 50%;
    min-width: 600px;
    float: right;
    overflow: hidden;
}

.start-screen__img {
    max-width: 100%;
    transform: rotate3d(14, 2, -4, 39deg);
    margin-left: 70px;
    box-shadow: -5px 5px 35px 0 rgba(0, 0, 0, 0.2);
    /* position: relative;
     top: 80px;
     right: -70px;
     display: block;



     */
}

.start-screen .container {
    /* overflow: hidden;*/
}

.about {
    padding-top: 40px;
    padding-bottom: 30px;
    background: #fff;
}

.about_img {
    display: block;
    width: 100%;
}

.about-img_wrap {
    position: relative;
    width: 30%;
    float: left;
    padding: 10px 10px 5px 5px;
    border: 1px solid #91f561;
    transition: border-color 1s ease;
}

.about-img_wrap:before {
    content: '';
    position: absolute;
    left: -5px;
    top: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid #8b9093;
    transition: border-color 1s ease;
}

.about-img_wrap:hover {
    border: 1px solid #8b9093;
}

.about-img_wrap:hover:before {
    border: 1px solid #91f561;
}

.about .text-block {
    width: 70%;
    float: right;
    padding: 0 20px;
}

.about p {
    font-size: 18px;
    line-height: 36px;
    text-align: justify;
}

.projects.container {
    padding-top: 30px;
    background: #fff;
}

.project-block {
    position: relative;
    padding-top: 60px;
    overflow: hidden;
    background: #fff;
}

.project-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 300px;
    margin-left: -150px;
    background: #91f561;
}

.project-block:last-child:after {
    display: none;
}

.project-block__img {
    width: 40%;
}

.project-block__img.to-left {
    margin-left: 10%;
}

.project-block__img.to-right {
    margin-right: 10%;
}

.project-block__img img {
    width: 100%;
    display: block;
}

.project-block__text {
    width: 46%;
    padding-bottom: 30px;
    margin-left: 2%;
    margin-right: 2%;
}

.project-block__titile {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 22px;
    font-family: OpenSans-Bold, sans-serif;
    text-align: left;
}

.project-block__describe {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

.project-block__subtitile {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 18px;
    font-family: OpenSans-Bold, sans-serif;
    text-align: left;
}

.project-block__list {
    line-height: 24px;
    margin-bottom: 25px;
}

.project-block__list li {
    position: relative;
    padding-left: 20px;
    text-align: left;
}

.project-block__list li:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 6px;
    border: 6px solid transparent;
    border-left-color: #91f561;
}

.to-all-projects {
    background: transparent;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.to-all-projects a.c-button {
    color: #91f561;
}
.to-all-projects a.c-button:hover {
    color: #494C4E;
}

.sometext {
    background-image: url("../images/NoteBookAir.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
    line-height: 30px;
    color: #F0EEEE;
}

.sometext .mask {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px 0 30px;
    overflow: hidden;
}

.sometext .section-title {
    margin-top: 40px;
    color: #F0EEEE;
}

.sometext p {
    text-align: justify;
}

.sometext ul {
    margin-left: 30px;
    list-style: circle;
}

.contact-section {
    border-top: 1px solid #F0EEEE;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    background: #fff;
}

.large__title {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
}

.to-left {
    float: left;
}

.to-right {
    float: right;
}

.arrow-right {
    padding-left: 10px;
    opacity: 1;
}

.arrow-right, .arrow-left {
    display: inline-block;
    transition: all 0.25s ease;
}

.c-button {
    border-radius: 5px;
    border: 1px solid #91f561;
    background: linear-gradient(transparent 50%, #91f561 50%);
    background-position: 0 0;
    background-size: 100% 90px;
    padding: 0 20px;
    display: inline-block;
    font-size: 18px;
    line-height: 45px;
    font-style: italic;
    min-width: 150px;
    transition: all .25s ease;
}

a.c-button {
    color: #494C4E;
    text-decoration: none;
}

.c-button:hover {
    background-position: 0 -45px;
}

a.c-button:hover .arrow-right {
    transform: translateX(5px);
}

a.c-button:active .arrow-right {
    transform: translateX(15px);
    opacity: 0;
}

section.footer {
    border-top: 1px solid #F0EEEE;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    overflow: hidden;
}

.copyright {
    float: left;
    line-height: 36px;
}

.footer-contact {
    float: right;
}

.footer-contact a {
    display: inline-block;
    color: #494C4E;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    overflow: hidden;
}

.footer-contact a:hover .social-icon {
    display: inline-block;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.footer-contact a:hover .icon-mail {
    animation-name: hover-icon-mail;
}

.footer-contact a:hover .icon-facebook {
    animation-name: hover-icon-facebook;
}

.footer-contact a:hover .icon-linkedin {
    animation-name: hover-icon-linkedin;
}

.footer-contact a:hover .icon-skype {
    animation-name: hover-icon-skype;
}


.all-projects {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.all-projects_link {
    display: inline-block;
    width: 29%;
    margin: 3% 1.5% 1%;
    box-shadow: 10px 10px 14px 6px rgba(0,0,0,.6);
    transition: all .3s ease 0s;
}
.all-projects_link:hover {
    transform: translateY(-4px);
    box-shadow: 25px 25px 35px 7px rgba(0,0,0,.6);
}
.all-projects_link img {
    display: block;
    width: 100%;
}









@keyframes hover-icon-mail {
    0% {
        transform: translateY(0px);
        color: inherit;
    }
    50% {
        transform: translateY(40px);
        color: transparent;
    }
    51% {
        transform: translateY(-40px);
        color: transparent;
    }
    100% {
        transform: translateY(0px);
        color: #c71610;
    }
}

@keyframes hover-icon-skype {
    0% {
        transform: translateY(0px);
        color: inherit;
    }
    50% {
        transform: translateY(40px);
        color: transparent;
    }
    51% {
        transform: translateY(-40px);
        color: transparent;
    }
    100% {
        transform: translateY(0px);
        color: #12A5F4;
    }
}

@keyframes hover-icon-linkedin {
    0% {
        transform: translateY(0px);
        color: inherit;
    }
    50% {
        transform: translateY(40px);
        color: transparent;
    }
    51% {
        transform: translateY(-40px);
        color: transparent;
    }
    100% {
        transform: translateY(0px);
        color: #007bb6;
    }
}

@keyframes hover-icon-facebook {
    0% {
        transform: translateY(0px);
        color: inherit;
    }
    50% {
        transform: translateY(40px);
        color: transparent;
    }
    51% {
        transform: translateY(-40px);
        color: transparent;
    }
    100% {
        transform: translateY(0px);
        color: #3b5998;
    }
}

@media screen and (max-width: 721px) {
    .menu-trigger {
        position: fixed;
        left: 10px;
        top: 10px;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ccc;
        color: #fff;
        text-align: center;
        cursor: pointer;
        z-index: 11;
        user-select: none;
    }

    .menu-trigger:before {
        content: '';
        position: fixed;
        left: 10px;
        top: 10px;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #91f561;
        transform-origin: 17% 19%;
        z-index: 10;
        transition: all .3s ease;
    }

    .header.vis-menu .menu-trigger:before {
        transform: scale(25);
    }

    .menu-trigger-inner {
        display: block;
        position: absolute;
        top: 19px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background: #fff;
        border-radius: 1px;
        z-index: 15;
        text-align: center;
    }

    .menu-trigger-inner:before, .menu-trigger-inner:after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 2px;
        background: #fff;
        border-radius: 1px;

    }

    .menu-trigger-inner:before {
        top: -6px;
    }

    .menu-trigger-inner:after {
        top: 6px;
    }

    .header.vis-menu .menu-trigger-inner {
        width: 0;
        transition: width .6s ease;
    }

    .header.vis-menu .menu-trigger-inner:before, .header.vis-menu .menu-trigger-inner:after {
        top: 0;
        transition: top .5s ease;
        animation-duration: 0.6s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
        transform-origin: 50% 50%;
    }

    .header.vis-menu .menu-trigger-inner:after {
        animation-name: rotate45;
    }

    .header.vis-menu .menu-trigger-inner:before {
        animation-name: rotate-45;
    }

    @keyframes rotate45 {
        0% {
            transform: scaleX(1);
        }
        50% {
            transform: scaleX(.1);
        }
        51% {
            transform: scaleX(.1) rotate(0deg);
        }
        100% {
            transform: scaleX(1) rotate(45deg);
        }
    }
    @keyframes rotate-45 {
        0% {
            transform: scaleX(1);
        }
        50% {
            transform: scaleX(.1);
        }
        51% {
            transform: scaleX(.1) rotate(0deg);
        }
        100% {
            transform: scaleX(1) rotate(-45deg);
        }
    }


    .navigation {
        visibility: hidden;
        opacity: 0;

    }

    .header.vis-menu .navigation {
        position: fixed;
        visibility: visible;
        z-index: 15;
        height: auto;
        float: none;
        width: 100%;
        margin-top: 60px;
        opacity: 1;
        transition: opacity .6s ease .3s;
    }

    .header.vis-menu .navigation_item {
        display: block;
        width: 100%;
        text-align: center;
    }

    .header.vis-menu .navigation_link {
        line-height: 44px;
        height: 44px;
        padding: 0 20px;
        color: #494C4E;
    }

    .header.vis-menu .navigation_link:hover {
        width: 100%;
        background: rgba(255, 255, 255, 0.35);
    }

    .header.vis-menu .navigation_link:active {
        background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.3));
    }

    .header.vis-menu .container {
        padding: 0;
    }

    .start-screen_img__wrap {
        opacity: .3;
    }

    .about-img_wrap {
        width: 80%;
        margin: 0 auto;
        float: none;
        margin-bottom: 30px;
    }

    .about .text-block {
        width: 100%;
        padding: 0;
    }

    .about p {
        font-size: 16px;
        line-height: 28px;
    }

    .project-block .project-block__img {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .project-block .project-block__text {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .contact-section__title {
        font-size: 24px;
    }

    .all-projects {
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .all-projects_link {
        width: 45%;
        margin: 3% 2% 4%;
        box-shadow: 10px 10px 14px 6px rgba(0,0,0,.6);
        transition: all .3s ease 0s;
    }

}

@media screen and (max-width: 640px) {
    .header-slogan {
        top: 150px;
    }

    .header-slogan h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .header-slogan h2 {
        margin-top: 15px;
        font-size: 20px;
        line-height: 20px;
    }

    section.footer {
        padding-bottom: 5px;
    }

    .copyright {
        float: none;
        width: 100%;
        line-height: 24px;
    }

    .footer-contact {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
}