body,
html {
  height: 100%;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
#wrapper {
  width: 100%;
  height: 100%;
  background: url("../img/body-bg.jpg") repeat;
}
.table-wrap {
  position: relative;
  top: 30%;
  margin: 0 auto;
  width: 244px;
  height: 120px;
}
.table-wrap:before {
  content: '';
  position: absolute;
  top: -53px;
  left: 50%;
  margin-left: -28px;
  width: 57px;
  height: 72px;
  background: url("../img/man.png");
}
.table-1 {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 60px;
  overflow: hidden;
  box-shadow: 0 10px 12px rgba(0,0,0,0.6);
}
.t-border {
  position: absolute;
  width: 240px;
  height: 240px;
  margin-top: -21%;
  background: url("../img/table-border.jpg");
  transform: rotateZ(-45deg);
  z-index: 1;
}
.t-inner {
  position: relative;
  top: 7px;
  width: 230px;
  height: 106px;
  margin: 0 auto;
  border-radius: 53px;
  background: #328b32;
  z-index: 2;
  box-shadow: inset 0 1px 12px rgba(0,0,0,0.6);
}
.t-number {
  display: inline-block;
  width: 100%;
  text-align: center;
  font: bold 12px/33px Arial;
  color: #fff;
  opacity: 0.6;
}
.cards-block {
  text-align: center;
}
.cards-block .card {
  display: inline-block;
  width: 28px;
  height: 44px;
  background: #fff;
}
.card-head {
  width: 10px;
  float: left;
}
.card-head span {
  font: bold 12px/12px Arial;
}
.suit-small {
  width: 18px;
  height: 18px;
  margin: -5px 0 0 -3px;
  background: url("../img/suits.jpg");
  transform: scale(0.6);
}
.suit {
  width: 18px;
  height: 18px;
  margin-top: 14px;
  float: right;
  background: url("../img/suits.jpg");
}
.spade .card-head span {
  color: #171717;
}
.spade .suit-small,
.spade .suit {
  background-position: 36px 0;
}
.heart .card-head span {
  color: #b72823;
}
.heart .suit-small,
.heart .suit {
  background-position: 54px 0;
}
.club .card-head span {
  color: #171717;
}
.club .suit-small,
.club .suit {
  background-position: 18px 0;
}
.diamond .card-head span {
  color: #b72823;
}
.diamond .suit-small,
.diamond .suit {
  background-position: 0 0;
}
