@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?44094233');
    src: url('../fonts/fontello.eot?44094233#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?44094233') format('woff2'),
    url('../fonts/fontello.woff?44094233') format('woff'),
    url('../fonts/fontello.ttf?44094233') format('truetype'),
    url('../fonts/fontello.svg?44094233#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BradobreiRegular";
    src: url("../fonts/BradobreiRegular/BradobreiRegular.eot");
    src: url("../fonts/BradobreiRegular/BradobreiRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BradobreiRegular/BradobreiRegular.woff") format("woff"),
    url("../fonts/BradobreiRegular/BradobreiRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family:'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold_gdi.eot') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Bold_gdi.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light_gdi.eot') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Light_gdi.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}