/*

1. common styles
2. header
3. banner
4. image-block
5. video
6. story block
7. testimonials
8. contact form
9. footer

*/

/*------------------------------
        1. common styles
-------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html,
body,
.wrap {
    height: 100%;
    font-family: OenSans-Light, sans-serif;
    max-width: 768px;
    margin: 0 auto;
}

body {
    background: #fff;
}

.container {
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 10px;
}
.section_title {
    background: #7e7cbb;
    color: #fff;
    font: bold 16px/38px Roboto-Bold, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.button {
    display: block;
    padding: 0 10px;
    margin-bottom: 15px;
    background: #fed034;
    color: #fff;
    font: bold 14px/40px Roboto-Bold, sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background 0.5s ease, color 0.5s ease;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.button:hover {
    background: #efc134;
    color: #fff;
}

.button:active {
    transform: translate(1px, 1px);
    outline: none;
}


/*--------------------------------------
              2. header
---------------------------------------*/
.start-screen_header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background: #fff;
    color: #000;
    z-index: 10;
}

.logo-wrap {
    margin: 9px 0 0 3px;
    display: inline-block;
}

.logo {
    display: inline-block;
    text-decoration: none;
}

.logo img {
    display: inline-block;
}

.logo p {
    display: inline-block;
    font: normal 9px/10px BradobreiRegular, serif;
    padding: 7px 3px;
    vertical-align: top;
    text-transform: uppercase;
    text-decoration: none;
    color: #4f4e4e;
}

#start-screen .logo p {
    color: #4f4e4e;
}

.phone-block {
    display: inline-block;
    height: 50px;
    margin-left: 20px;
    padding-top: 6px;
    vertical-align: top;
}

.phone-block_title {
    font: normal 10px/16px Roboto-Light, sans-serif;
}

.phone-block_number {
    position: relative;
    font: bold 14px/18px Roboto-Bold, sans-serif;
    color: inherit;
    text-decoration: none;
    padding: 8px 0 0 20px;
}

.phone-block_number:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
    width: 12px;
    height: 12px;
    background: url("../images/phone_sprites.png");
}

.header_nav li {
    font: bold 14px/50px Roboto-Bold, sans-serif;
    text-align: center;
    letter-spacing: .06em;
}

.header_nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    transition: color 0.5s ease;
}

.header_nav li a:hover {
    background: rgba(178, 180, 246, 0.25);
}

/*   visibility mobyle menu  */
.vis-menu .header_nav {
    position: relative;
    height: 100vh;
    display: block;
    background: rgba(255, 255, 255, 0.75);
    padding: 0;
    z-index: 5;
}

.vis-menu li {
    display: block;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.vis-menu li:first-child {
    border-top: 1px solid #ccc;
}

.vis-menu .header_nav a:active {
    background: #7e7cbb;
    color: #fff;
}

/*     menu gamburger   */
.menu-trigger {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 40px;
    height: 40px;
    padding: 18px 7px;
    cursor: pointer;
    z-index: 10;

}

.menu-trigger span {
    display: block;
    width: 27px;
    height: 4px;
    background: #515151;
    position: relative;
    transition: background 0.3s ease;

}

.menu-trigger span:before {
    content: '';
    position: absolute;
    top: -8px;
    width: 27px;
    height: 4px;
    background: inherit;
    transition: transform 0.3s ease;

}

.menu-trigger span:after {
    content: '';
    position: absolute;
    top: 8px;
    width: 27px;
    height: 4px;
    background: inherit;
    transition: transform 0.3s ease;
}

.vis-menu .menu-trigger span {
    width: 0;
}

.vis-menu .menu-trigger span:before {
    -webkit-transform: translateY(8px) rotateZ(-225deg);
    transform: translateY(8px) rotateZ(-225deg);
    background: inherit;
}

.vis-menu .menu-trigger span:after {
    -webkit-transform: translateY(-8px) rotateZ(225deg);
    transform: translateY(-8px) rotateZ(225deg);
    background: inherit;
}
/*    end menu gamburger   */


.header_nav {
    display: none;
}


/*--------------------------------------
              3. banner
---------------------------------------*/
.start-screen_banner {
    position: relative;
    margin-top: 50px;
    max-height: 420px;
    padding-bottom: 92%;
    background: #7f7ef8 url("../images/bg_banner.jpg") no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
}

.banner-info {
    width: 50%;
    position: absolute;
    right: 0;
    top: 10%;
    margin-top: 20px;
}

.banner-info_text {
    color: #fff;
    overflow: hidden;
}

.banner-info_text p {
    font: normal 12px/14px Roboto-Light, sans-serif;
}

.banner-info_text h2 {
    font: bold 26px/38px Roboto-Bold, sans-serif;
    text-transform: uppercase;
    border-top: 2px solid #fff;
    letter-spacing: 0.07em;
    float: left;
}

.banner-info_button__wrap {
    float: left;
    width: 46%;
    height: 42px;
    margin: 0 4% 4% 0;
    background: #dddbe9;
    border-radius: 3px;
    border: 1px solid #a4a4b0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.64);
}

.banner-info_button__wrap:nth-child(2n) {
    margin: 0 0 4% 0;
}

.banner-info_button__wrap:hover {
    background: #bfbeca;
}

.banner-info_button__wrap:active {
    transform: translate(1px, 1px);
}

.banner-info_button__wrap a {
    display: table;
    width: 100%;
    height: 100%;
    padding: 7px;
    text-decoration: none;
    color: #000;
    font: normal 12px/12px Roboto-Light, sans-serif;
}

.banner-info_button__wrap a p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*--------------------------------------
              4. image-block
---------------------------------------*/
.image-block {
    padding: 14px 0;
}

.image-block img {
    display: block;
    width: 100%;
}

/*------------------------------
        5. video
-------------------------------*/
.content_block__video .title {
    font: bold 14px/36px Roboto-Light, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.content_block__video .description {
    font: bold 13px/18px Roboto-Light, sans-serif;
    text-align: center;
    color: #000;
}

.content_block__video .video {
    width: 100%;
}


/*---------------------------------
    6. story block
----------------------------------*/
.additional_content {
    display: none;
}

.additional_content.visible {
    display: block;
}

.content_block__story .titles {
    display: table;
    width: 100%;
}

.story_title {
    display: table-cell;
    font: bold 12px/18px Roboto-Bold, sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}

.story_title:last-child {
    border-right: none;
}

.story_title span {
    position: relative;
}

.story_title:hover span:after,
.titles .active span:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #7e7cbb;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.story_block {
    display: none;
    color: #000;
}

.story_block h3 {
    font: bold 13px/30px Roboto-Light, sans-serif;
    text-align: left;
}

.story_block p {
    font: normal 13px/20px Roboto-Light, sans-serif;
    text-align: justify;
    padding-bottom: 25px;
}

.text .active {
    display: block;
    animation: opacity .8s forwards;
}

@keyframes opacity {
    from {
        color: transparent;
    }
    to {
        color: #000;
    }
}

/*---------------------------------
    7. testimonials
----------------------------------*/
.testimonials-block {
    padding-bottom: 15px;
}

.testimonial-video {
    position: relative;
    float: left;
    width: 30%;
    padding-bottom: 20%;
    margin: 5% 5% 0 0;
    background: #ccc;
    overflow: hidden;
}

.testimonial-video:last-child {
    margin-right: 0;
}

.testimonial-video iframe {
    position: absolute;
}

/*---------------------------------
    8. contact form
----------------------------------*/
.contact-form {
    padding: 25px 10px;
    background: url("../images/bg_contact-form.jpg");
    background-size: cover;
}
.form-wrap {
    max-width: 400px;
    margin: 0 auto;
}
.contact-form__title {
    font: bold 16px/36px OenSans-Bold, sans-serif;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    text-transform: uppercase;
}

.contact-form__inpuut {
    display: block;
    height: 47px;
    width: 100%;
    margin-bottom: 7px;
    padding: 0 25px;
    border: none;
    background: rgba(255, 255, 255, 0.6);
    font: normal 14px/47px OenSans-Light, sans-serif;
    color: #000;
    transition: box-shadow 0.5s ease;
}

input::-webkit-input-placeholder {
    color: #000;
}

.contact-form__inpuut:hover,
.contact-form__inpuut:hover {
    background: #fff;
}

.contact-form__inpuut:active,
.contact-form__inpuut:focus {
    background: #fff;
    box-shadow: inset 0 0 15px -4px #5cbcf8;
    outline: none;
}

#contact input[type="submit"] {
    width: 100%;
    background: #fed034;
    color: #fff;
}

#contact input[type="submit"]:hover {
    background: #e8bd31
}

/*---------------------------------
    9. footer
----------------------------------*/
#footer {
    background: #151422;
    color: #fff;
    height: 52px;
}

#footer .logo p {
    color: #fff;
}

#footer .phone-block {
    float: right;
}

#footer .phone-block_number:before {
    background-position: -14px 0;
}