@font-face {
	font-family:'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold_gdi.eot') format('embedded-opentype'),
		url('../fonts/OpenSans-Bold_gdi.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'OpenSans-Light';
	src: url('../fonts/OpenSans-Light_gdi.eot') format('embedded-opentype'),
		url('../fonts/OpenSans-Light_gdi.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
/* font-family: "RalewayRegular"; */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBold"; */
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold.eot");
    src: url("../fonts/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}