
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: $font-base, sans-serif;
}

body {
  background: #fff;
}
.wrap {
  position: relative;
  width: 100%;
  display: table;
  height: 100%;
}
.content {
  height: 100%;
  display: table-row;
  //padding-bottom: 40px;
  //@include respond-to(xs){
    //padding-bottom: 76px;
  //}
}
.container {
  width: 100%;
  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto;
  padding: 0;
  @include respond-to(sm) {
    padding: 0 15px;
  }
}

.c-btn {
  display: inline-block;
  min-width: 155px;
  height: 38px;
  border: 1px solid $main-light;
  background-color: $main-light;
  border-radius: 5px;
  color: $grey-dark;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  font-family: 'RobotoCondensedBold';
  line-height: 38px;
  font-size: 14px;
  transition: background .3s ease, color .3s ease;
  &:hover {
    background-color: lighten($main-light, 20%);
    text-decoration: none;
  }
  &:visited{
  color: inherit;
  }
  &:active {
    background-color: lighten($main-light, 20%);
    transform: translate(1px, 1px);
    transition: none;

  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
  @include respond-to(xs-small) {
    min-width: 100px;
  }
}
.btn_wrap {
  width: 100%;
  text-align: center;
}

.icon-okey {
  display: block;
  color: $main-light;
  border: 2px solid $main-light;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  font-size: 28px;
  line-height: 60px;
}

.section_title {
  margin-top: 40px;
  padding: 0 10px;
  font-size: 30px;
  font-family: $font-title;
  font-weight: bold;
  color: #000;
  text-align: center;
  @include respond-to(xs-small){
    margin-top: 20px;
    font-size: 20px;
  }

}
.section_sub-title {
  margin-top: 15px;
  padding: 0 10px;
  font-family: $font-title;
  font-size: 20px;
  text-align: center;
  color: #9ca7b6;
  @include respond-to(xs-small){
    font-size: 16px;
    margin-top: 8px;
  }
}
.modal-borrower {

  .modal-body {
    padding: 3%;
  }
  .modal-title {
    color: $grey-dark;
    margin-top: 30px;
    font-size: 32px;
    font-family: $font-title;
    font-weight: bold;
    text-align: center;
  }
  input[type='text'], input[type='email'] {
    display: block;
    height: 38px;
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: inset 2px 2px 1px -1px rgba(0,0,0,0.075);
    color: rgb(85,85,85);
    padding: 6px 12px;
    line-height: 18px;
    border: 1px solid rgb(204,204,204);
    font-size: 18px;
    font-family: $font-medium;
  }
  label {
    font-family: $font-base;
    font-size: 18px;
    color: black;
    margin-top: 15px;
  }
  .modal_btn {
   margin: 25px auto 30px;
  }
}
