/*----------------------
    conditions
----------------------*/
.conditions {
  @include respond-to(xs-add) {
    padding-bottom: 30px;
  }
}
.conditions_item {
  width: 32%;
  display: inline-block;
  padding: 0 25px 60px;
  @include respond-to(xs-add) {
    width: 100%;
    padding: 0 25px 20px;
  }
  .icon-okey {
    width: 32px;
    height: 32px;
    margin-top: 45px;
    margin-bottom: 22px;
    font-size: 21px;
    line-height: 32px;
    @include respond-to(xs-add) {
      margin-top: 25px;
      margin-bottom: 12px;
    }
  }
  .item_describe {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    @include respond-to(sm) {
      font-size: 16px;
      line-height: 20px;
    }
    span{
      display: block;
    }
  }
}

/*----------------------
    credit_form
----------------------*/
.credit_form {
  padding: 54px 20px;
  background: #cddcff;
  @include respond-to(xs-small) {
    padding: 30px 0;
  }
  form {
    padding: 30px 60px;
    background: #fff;
    max-width: 930px;
    margin: 0 auto;
    label {
      font-size: 14px;
      color: #000;
    }
    @include respond-to(xs) {
      padding: 20px 15px;
    }
  }
  .form-title {
    font-size: 22px;
    text-align: center;
    color: #000;
  }
  .form-desc {
    margin: 12px auto 45px;
    font-size: 14px;
    text-align: center;
    color: #9ca7b6;
  }
  .text_input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: none;
    -webkit-appearance: none;
  }
  .calculator-title {
    font-size: 14px;
    margin-bottom: 15px;
    span {
      font-size: 15px;
      font-weight: bold;
    }
  }
  .calculator {
    width: 47%;
    float: right;
    margin-bottom: 30px;
    @include respond-to(xs) {
      width: 100%;
      float: none;
    }
    p {
      font-size: 12px;
      color: #9ca7b6;
    }

  }
  .btn_wrap{
    width: 100%;
    text-align: center;

  }
  .btn {
    margin-top: 40px;
    display: inline-block;
    &:active {
      -webkit-appearance: none;
    }
  }
}

.range_wrap {
  float: left;
  width: 47%;
  margin-bottom: 50px;
  margin-right: 6%;
  @include respond-to(xs) {
    width: 100%;
    margin-right: 0;
    float: none;
  }
}
.range_wrap+.range_wrap {
  margin-right: 0;
}
.text_input_wrap {
  width: 47%;
  @include respond-to(xs) {
    width: 100%;
  }
}

.range_input {
  //display: inline-block!important;
  width: 100%;
  //visibility: hidden;
}

.asRange {
  margin: 20px 0 50px;
  width: 100%;
}

.asRange .asRange-selected {
  background: $main-light;
}

.asRange .asRange-pointer:before {
  background: #fff;
  border: 1px solid #ccc;
}

.asRange .asRange-pointer:after {
  background-color: $main-light;
}

.asRange .asRange-pointer .asRange-tip {

  top: 20px;
  left: 0;
  width: 58px;
  height: 20px;
  margin-left: -25px;
  font-size: 10px;
  line-height: 18px;
  background-color: $main-light;
  border: 1px solid $main-light;
  border-radius: 10px;
  outline: none;
}

.asRange .asRange-pointer .asRange-tip:before {
  background-color: $main-light;
  top: -4px;
}

/*----------------------
    how_to
----------------------*/
.how_to {
  padding: 150px 0;
}

.how_to__item {
  position: relative;
  float: left;
  width: 32%;
  margin-right: 2%;
  padding: 80px 5% 20px;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
  @include respond-to(xs-small){
    float: none;
    width: 60%;
    margin: 0 auto;
    &:last-child {
      margin-right: auto;
    }
  }
  .item_title {
    margin-top: 30%;
    font-weight: bold;
  }
  .item_describe {
    margin-top: 20px;
    color: #4b4b4b;
  }
  .arrow {
    position: absolute;
    top: 40%;
    left: -18%;
    width: 30%;
    height: 2px;
    background: #000;
    @include respond-to(xs){
      display: none;
    }
  }
}

$width: 100%;
$pb: 69%;
.how_to__icon {
  position: relative;
  width: $width;
  padding-bottom: $pb;
  margin: auto;
  border-radius: 16%;
  background-color: $main-light;
  img {
    position: absolute;
    top: 21%;
    left: 26%;
    width: 50%;
    z-index: 5;
  }
  &:before, &:after {
    position: absolute;
    display: block;
    content: '';
    width: $width;
    padding-bottom: $pb;
    border-radius: 16%;
    background: $main-light;
    transform: rotate(60deg);
  }
  &:after {
    transform: rotate(-60deg);
  }
}

/*----------------------
    invest_count
----------------------*/
.invest_count {
  background-color: $grey-dark;
  .container {
    //padding-bottom: 50px;
    background: url("../img/background/wallet.png") no-repeat 0 0;
    @include respond-to(sm) {
      background-size: 50%;
      //padding: 0;
    }
    @include respond-to(xs) {
      background-size: 80%;
      padding: 0;
    }
  }
  .invest_text {
    width: 50%;
    float: right;
    text-align: center;
    padding: 0 15px 50px;
    @include respond-to(xs) {
      width: 100%;
      background: rgba(0, 0, 0, 0.65);
    }
  }
  .invest_text__title {
    margin-top: 50px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
  }
  .invest_text__count {
    margin-top: 20px;
    color: $main-light;
    font-size: 64px;
    @include respond-to(xs) {
      font-size: 42px;
    }
  }
  .invest_text__registered {
    margin-top: 50px;
    margin-bottom: 45px;
    span {
      font-size: 64px;
      color: $main-light;
      @include respond-to(xs) {
        font-size: 42px;
      }
    }
    p {
      display: inline-block;
      padding: 0 15px;
      font-size: 20px;
      line-height: 26px;
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

/*----------------------
    responses_block
----------------------*/
.responses_block {
  background: #fff;
  .response_item {
    width: 50%;
    float: left;
    padding: 20px;
    text-align: center;
    @include respond-to(xs) {
      width: 100%;
    }
  }
  .icon-quote {
    display: block;
    width: 15px;
    margin: 0 auto;
    color: #89a6ac;
  }
  .respond_text {
    padding: 17px 0;
    color: $grey-light;
    font-size: 16px;
    line-height: 24px;
  }
  .author_photo {
    display: block;
    width: 75px;
    height: 75px;
    margin: 40px auto 17px;
    border: none;
    border-radius: 50%;
    @include respond-to(xs) {
      margin-top: 20px;
    }
  }
  .author_name {
    display: block;
    font-weight: bold;
  }
  .author_describe {
    width: 60%;
    margin: 8px auto 70px;
    color: #89a6ac;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    @include respond-to(xs) {
      margin-bottom: 30px;
    }
  }
}

/*----------------------
    credit_describe
----------------------*/
.credit_describe {
  min-width: $min-width;
  padding: 50px 0 75px;
  background: #89a6ac;
  color: #fff;
  text-align: center;
  .section-title {
    margin-top: 15px;
    font-size: 28px;
  }
  p {
    width: 60%;
    margin: 15px auto 0;
    font-size: 16px;
    line-height: 24px;
    @include respond-to(xs) {
      width: 100%;
    }
  }
}

/*---------------
    partners
----------------*/
.partners {
  background: #fff;
}

.partners_list {
  width: 100%;
  padding: 50px 0 75px;
  .partners_list__item {
    float: left;
    width: 25%;
    @include respond-to(xs-add) {
      width: 50%;
    }
  }
  .partners_list__link {
    display: block;
    text-align: center;
    img {
      display: inline-block;
      border: none;
      max-width: 100%;
      transition: transform .1s ease;
    }
    &:hover {
      img {
        transform: scale(1.02);
      }
    }
  }
}

/*---------------
    get_approval
----------------*/

.get_approval {
  padding: 65px 0 90px;
  min-width: $min-width;
  background: $grey-light;
  text-align: center;
  .section-title {
    font-size: 28px;
    line-height: 34px;
    color: #fff;
  }
  .btn {
    margin-top: 60px;
  }
}