/*------------------------------
        1. common styles
-------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html,
body {
    background: #e6ffff;
    height: 100%;
}

.container {
    min-width: 320px;
    max-width: 1200px;
}

.navbar {
    background: #1f2023;
    color: #fff;
    font: bold 12px/42px Verdana, sans-serif;
    text-transform: uppercase;
}

.navbar_menu {
    float: left;
    margin-left: 150px;
}

.navbar_menu .navbar_menu__item {
    position: relative;
    float: left;
    padding: 0 15px;
    border-left: 1px solid #2b2d33;
}

.navbar_menu .navbar_menu__item:last-child {
    border-right: 1px solid #2b2d33;
}

.navbar_menu .navbar_menu__item:hover {
    color: #2b2d33;
    background: #f1b72b;
}

.navbar_menu .navbar_menu__item:hover .navbar_submenu {
    visibility: visible;
    opacity: 1;
}

.navbar_menu .navbar_menu__item a {
    text-decoration: none;
    color: inherit;
}

.navbar_submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 200px;
    z-index: 5;
    transition: visibility .5s  ease, opacity 0.8s ease;
}

.navbar_submenu .navbar_submenu__item {
    width: 100%;
    color: #000;
    background: #fff;
    border-bottom: 1px solid #ccc;
    font: bold 11px/32px Verdana, sans-serif;
}

.navbar_submenu .navbar_submenu__item a {
    display: block;
    padding: 0 15px;
    transition: background 0.8s ease, color 0.8s ease;;
}

.navbar_submenu .navbar_submenu__item a:hover {
    color: #f1b72b;
    background: #2b2d33;
}

.right-block {
    float: right;
}

.right-block .login-wrap {
    display: inline-block;
    color: #fff;
    font: bold 12px/42px Verdana, sans-serif;
    text-transform: uppercase;
    border-right: 1px solid #2b2d33;
    border-left: 1px solid #2b2d33;
}

.right-block .search-wrap {
    display: inline-block;
    padding: 0 6px 0 18px;
    margin-right: 40px;
}

.right-block .search-wrap input {
    border-radius: 5px;
    background: #a0a1a5;
    -webkit-appearance: none;
    border: none;
}

.main-menu-wrap {
    position: relative;
    width: 100%;
    height: 100px;
    background: url("../img/bg-1.jpg");
}

.main-menu-wrap .logo-wrap {
    position: absolute;
}

.main_menu {
    float: left;
    margin-left: 150px;
}

.main_menu .main_menu__item {
    float: left;
    font: bold 16px/100px Verdana, sans-serif;
}

.main_menu .main_menu__item a {
    padding: 0 18px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #474747;
    background: transparent;
    transition: all 1s ease;
}

.main_menu .main_menu__item a:hover {
    transition: color 2s ease;
    color: #fff;
    background: #474747;
}

.main_menu .main_menu__item:hover .main_submenu {
    visibility: visible;
    opacity: 1;
    transition: visibility .8s .3s  ease, opacity 1s .3s ease;
}

.main_submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    font: bold 12px/38px Verdana, sans-serif;
    background: #474747;
    transition: visibility .8s ease, opacity 1s ease;
}

.main_submenu .main_submenu__item {
    float: left;
    background: #474747;
}

.main_submenu .main_submenu__item a {
    display: inline-block;
    padding: 0 60px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font: bold 12px/38px Verdana, sans-serif;
    border-right: 2px solid #222;
}

.main_submenu .main_submenu__item a:hover {
    color: #f1b72b;
    background: #000;
}

