@media (min-width: 768px) {
    .banner {background-position: top center !important;}
    .banner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

    .banner-form h1,
    .banner-form h2 {text-align: left;}

    .banner-video {width: 55%; padding-right: 35px;}
    .banner-form {width: 40%; min-height: 400px;border-left: 1px solid #b1b3a5;}

    .video .video-block {margin-top: -25px;}
    .video .video-screen {width: 100%;}
}

@media (min-width: 768px) and (max-width: 880px){
    .banner-video {width: 43%;}
    .banner-form {width: 50%;}

    .lp-head-text h1 {width: 90%;}
}

@media (max-width: 767px){

    .lp-head-text h1 {width: 90%;}

    .banner {background-position: -930px 0px; height: auto !important;}

    .banner-video {border-bottom: 1px dotted #fff; padding-bottom: 10px; margin-bottom: 10px;}

    .banner-form {margin-bottom: 35px;}

    .banner-form input {width: 90%;}

    .banner-form .input-row {margin: 0;}
    
    .banner-form h1,
    .banner-form h2 {text-align: center;}

    .banner-form h1 {font-size: 3em;}

    .banner-form p {margin: 0;}

    .banner-form .form-fields {margin-top: 20px;}

    .banner-form .checkbox-row {line-height: 1.3em; width: 80%; margin: 0 auto; }

    .banner-form label {left: 25px;}

    .video .video-block {border-top: 1px solid #e5e5e5;padding-top: 20px}
    .video .video-screen {display: inline-block; vertical-align: middle; width: 35%;}
    .video .video-link {display: inline-block !important; width: 45%; margin-left: 20px; vertical-align: middle;}

    .video .video-block {margin: 0;}
    .testimonial-block {width:100%; margin-bottom: 20px;}

    footer .quote-block .quote-text {width: 50%;}
    .keypoints .key-block {padding-bottom: 15px !important;border: 0;width: 85%; margin: 0 auto;}

    .keypoints  img {display: inline-block;vertical-align: top;}
    .keypoints .key-text {display: inline-block; width: 68%; margin-left: 10px;vertical-align: top;font-size: .7em;}
    .keypoints .key-text h3 {margin-top: 0;}
}


@media (max-width: 567px){

    .page-curve img {width: 65%;}

    header .logo {text-align: center;}

    footer .quote {width: 90%; margin: 0 auto; border-bottom:0; padding-bottom: 20px;}
    footer .quote-block .quote-text {width:100%;}
    footer .util {width: 90%;margin: 0 auto; text-align:  center;padding-top: 20px; border-left: 0;}
    .keypoints  img {width: 3.5em;}

    footer .quote-block {text-align: center;}
    footer .quote-block img {float: none;}

    footer .util {display: none;}
    .util {display: block;width: 90%;margin: 0 auto;border-left: 0;margin-bottom: 40px;}
    .util h4 {color: #004fa5; }
    .util .util-block {font-size: .9em;}

    .page-curve {display: none !important;}
}

/*
 * -- PHONE MEDIA QUERIES --
 */
@media (max-width: 480px){

    .lp-wrapper {padding: 0; background: none;}

    .banner h1 {font-size: 1.6em;}
    .banner-form  {background: none;margin-top: 0px;}
    .banner-form .but-submit {font-size: 1.2em;}
    .banner-form input {width: 85%;}
    .banner-form .form-signup {margin: 0 !important;}
    .banner-form .checkbox-row p {width: 79%;}

    .banner-form .or-div {width: 100%;}
    
    .banner-form .ctatext {width:auto;}
    .banner-form .ctatext h2 {text-align:center;width:auto;}
    .banner-form .ctatext p {text-align:center;width:auto;font-size: .9em;}
}
@media (min-width: 480px) {    
    header {height: 102px;}
    .banner {height: auto; display: block; }
}

@media (max-width: 320px){
    header {text-align: center;}
    header .logo {margin-top: 20px;}

    .banner-form .checkbox-row {width: 100%;}
    .keypoints .key-text h3 {margin-top: 0px;}
    

}

@media (min-width: 320px) and (max-width: 767px) {
    .banner-form .form-signup {margin: 10px 30px;}    
}

@media (min-width: 320px) {

    header .logo img {max-width: 250px;}
    header .logo {margin-top: 30px;}
}