

/*------------------------------
        1. common styles
-------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html, body {
    background: #e6ffff;
    height: 100%;
}

.container {
    min-width: 320px;
    max-width: 1200px;
}


.navbar {
    background #1f2023;
    color #fff;
    font bold 12px/42px Verdana, sans-serif
    text-transform uppercase
    }
.navbar_menu {
    float: left
    margin-left 150px
    .navbar_menu__item {
        position: relative
        float: left
        padding 0 15px
        border-left 1px solid #2b2d33
        transition  background .8s ease, color .8s ease;
        &:last-child {
            border-right 1px solid #2b2d33;
        }
        &:hover {
            color #2b2d33
            background #f1b72b
            .navbar_submenu {
                display block
                -webkit-animation-name: opacity;
                animation-name: opacity;
                -webkit-animation-duration: 1.2s;
                animation-duration: 1.2s;
              }
        }
        a {
            text-decoration none
            color inherit
        }
    }

}
.navbar_submenu {
    display none
    position absolute
    left: 0
    width: 200px
    z-index 5
    .navbar_submenu__item {
        width: 100%
        color #000
        background #fff
        border-bottom 1px solid #ccc
        font bold 11px/32px Verdana, sans-serif
        a {
            display: block
            padding 0 15px
            transition  all .8s ease
        &:hover {
                color #f1b72b
                background #2b2d33
            }
        }
    }

}


.right-block {
    float: right
    .login-wrap {
        display: inline-block
        color #fff;
        font bold 12px/42px Verdana, sans-serif
        text-transform uppercase
        border-right 1px solid #2b2d33;
        border-left 1px solid #2b2d33;
    }
    .search-wrap {
        display: inline-block
        padding 0 6px 0 18px
        margin-right 40px
        input {
            border-radius 5px
            background #a0a1a5
            -webkit-appearance none
            border none
        }
    }
}




.main-menu-wrap {
    position: relative
    width: 100%
    height 100px
    background url("../img/bg-1.jpg")
    .logo-wrap {
        position: absolute
    }
}
.main_menu {
    float: left
    margin-left 150px
    .main_menu__item {
        float: left
        font bold 16px/100px Verdana, sans-serif
        a {
            padding 0 18px
            display: inline-block
            text-decoration none
            text-transform uppercase
            color #474747
            background transparent
            transition  all 1s ease
            &:hover {
                transition color 2s ease;
                color #fff
                background #474747
            }
        }
        &:hover {
            .main_submenu {
                display block
                -webkit-animation-name: opacity;
                animation-name: opacity;
                -webkit-animation-duration: 1.2s;
                animation-duration: 1.2s;
            }
        }
    }
}
.main_submenu {
    display: none
    position: absolute
    left 0
    width: 100%
    font bold 12px/38px Verdana, sans-serif
    background #474747
    .main_submenu__item {
        float: left
        background #474747
        a {
            display: inline-block
            padding 0 60px
            width: 100%
            text-decoration none
            text-transform uppercase
            color #fff
            font bold 12px/38px Verdana, sans-serif
            border-right 2px solid #222222
            transition  all 1s ease
            &:hover {
                color #f1b72b
                background #000000
            }
        }
    }
}

@keyframes opacity {
    0% {
        display block
        opacity: 0;
    }

    100% {
        display block
        opacity: 100%;
    }
}