<section class="banner-wrap business_loans">
    <div class="banner clearfix" style="background-image: url(img/background/banner_bg_loans.jpg" )>
        <div class="container">
            <h1 class="main_title">Business Loans. Quick. Smart.</h1>

            <p class="slogan">Marketlend offers a marketplace that provides an effective platform to manage peer-to-peer
                lending for the lender</p>
            <div class="c-btn j-modal" data-toggle="modal" data-target="#myModal">apply now</div>

        </div>
    </div>
</section>