<section class="footer clearfix">
    <div class="container">
        <ul class="social">
            <li><a class="social_icon icon-linkedin" href="#"></a></li>
            <li><a class="social_icon icon-facebook" href="#"></a></li>
            <li><a class="social_icon icon-twitter" href="#"></a></li>
            <li><a class="social_icon icon-gplus" href="#"></a></li>
            <li><a class="social_icon icon-youtube" href="#"></a></li>
        </ul>
        <div class="copyright">
            <p>Copyright @ 2017 <a href="#">Tyndall Capital</a> All rights reserved </p>
        </div>
    </div>
</section>