/*

1. common styles
2. includes section
3. slide-tabs
4. range slider


*/

/*------------------------------
        1. common styles
-------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: nerislight, Arial;
    color: #434149;
}
.container {
    max-width: 1380px;
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}
.section_title {
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-family: nerisblack;
    padding-left: 10px;
    padding-right: 10px; 
}


/*------------------------------
        2. includes section
-------------------------------*/

.includes {
    padding-top: 100px;
    min-height: 500px;
    text-align: center;
    background-image: url(../images/bg.jpg);
    background-position: 50% 100%;
    background-size: cover;
}

.includes .slick-list, .slick-slide:focus {
    outline: none;
}

.action {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.slider_nav__link {
    display: block;
    padding: 0 10px 14px;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: nerissemibold;
    color: #434149;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease;
}
.slider_nav__link img{
    display: none;
}
.slider_nav__link.active, .slider_nav__link:hover {
    color: #ffcb00;
}
.slider_nav {
    margin-bottom: 30px;
}
.pagingInfo {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 17px;
    border-top: 4px solid #ffcb00;
    transition: all .4s ease;

}
.pagingInfo_text {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    font-family: nerisblack;
}
.pagingInfo_text:before, .pagingInfo_text:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 6px;
    width: 8px;
    height: 8px;
    border: 2px solid #434149;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
}
.pagingInfo_text:after {
    left: auto;
    right: -20px;
    transform: rotate(135deg);
}
.slick-slider {
    outline: none;
}
/*----------------------------
    2. slide-tabs
--------------------------------*/

.slide-tabs_content {
    position: relative;
    width: 50%;
    float: left;
    padding-bottom: 40%;
}
.tabs_content__img {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    transition: opacity 1.2s ease;
    opacity: 0;
}
.slide-tabs_buttons {
    width: 50%;
    float: left;
    text-align: left;
}
.slide-tabs_describe {
    margin: 20px 5px;
    padding: 25px 30px 30px;
    border: 1px dashed transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: all .4s ease;
}
.slide-tabs_describe.active {
    border-color: #B0AEB6;
}
.slide-tabs_describe:hover {
    border-color: #B0AEB6;
    background: rgba(255,255,255, 0.6);
}
.slide-tabs_describe:active {
    border-style: solid;
}
.tab_describe__title {
    float: left;
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 30px;
    font-family: nerissemibold;
    border-bottom: 1px dashed #434149;
    transition: all .2s ease;
}
.tab_describe__text {
    clear: both;
    font-size: 19px;
    line-height: 30px;
    font-family: nerislight;
}
.active .tab_describe__title {
    color: #ffcb00;
    border-color: transparent;
}




/*------------------------------
        4. range slider
-------------------------------*/


.range-slider {
    padding: 110px 0 80px;
    text-align: center;
}
.range-slider_mark {
    display: block;
    margin: 90px 0;
    font-size: 18px;
    line-height: 18px;
    color: #ffc000;
    font-family: nerissemibold;
}

.asRange {
    position: relative;
    width: 80%;
    height: 6px;
    margin: 0 auto;
    background-color: #dddddd;
    border-radius: 3px;
}
.asRange .asRange-selected {
    height: 6px;
    border-radius: 3px;
}
.asRange .asRange-selected {
    background-color: transparent;
    background-image: linear-gradient(to right, #fdf48c, #fdba00);
}

.asRange .asRange-pointer:before {
    display: none;
}
.asRange .asRange-pointer {
    background: #d4c6ff;
    margin-left: -13px;
    margin-top: -10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 0 2px 10px -2px #000;
    outline: none;
    cursor: pointer;
}
.asRange .asRange-pointer .asRange-tip {
    background: transparent;
    width: 60px;
    font-size: 16px;
    color: #434149;
    border: none;
    margin-left: -16px;
    font-family: nerisblack;
}
.asRange .asRange-pointer .asRange-tip:before {
    content: '← drag →';
    position: absolute;
    bottom: -68px;
    left: 50%;
    display: inline-block;
    width: 100px;
    height: auto;
    margin-left: -50px;
    background-color: transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 18px;
    //margin-top: 22px;
    color: #a2a3a2;
    text-align: center;
    font-family: nerislight;
    text-transform: uppercase;
}

.range-devider {
    display: flex;
    justify-content: space-between;
    height: 6px;
    width: 80%;
    margin: -6px auto 0;
    position: relative;
    z-index: 1;
}
.range-devider_item {
    display: block;
    background: #fff;
    width: 4px;
    height: 6px;
}
.range-devider_item:first-child {
    margin-left: -4px;
}
.range-devider_item:last-child {
    margin-right: -4px;
}
label[for='range-summ'] {
    display: none;
}


@media screen and (max-width: 1200px){
    .slider_nav__link {
        padding: 0 10px 14px;
        font-size: 14px;
        line-height: 20px;
    }
    .tab_describe__title {
        margin-bottom: 5px;
        font-size: 22px;
        line-height: 24px;
    }
    .tab_describe__text {
        font-size: 16px;
        line-height: 24px;
    }
    .slide-tabs_describe {
        padding: 20px;
    }
}
@media screen and (max-width: 860px){
    .section_title {
        font-size: 30px;
        line-height: 30px;
    }
    .includes {
        padding-top: 70px;
    }
    .action {
        margin-top: 45px;
    }
    .slider_nav__link {
        padding: 0 10px 14px;
        font-size: 12px;
        line-height: 20px;
    }
    .pagingInfo {
        padding-top: 5px;
    }
    .pagingInfo_text {
        font-size: 12px;
        line-height: 12px;
    }
    .pagingInfo_text:before, .pagingInfo_text:after {
        left: -11px;
        top: 6px;
        width: 5px;
        height: 5px;
        border-width: 1px;
        transform: rotate(-45deg);
    }
    .pagingInfo_text:after {
        left: auto;
        right: -11px;
        transform: rotate(135deg);
    }
}
@media screen and (max-width: 780px){
    .slider_nav__link {
        padding: 0 10px 14px;
        font-size: 12px;
        line-height: 20px;
    }
    .slider_nav__link:hover {
        opacity: .6;
    }
    .slider_nav__link span{
        display: none;
    }
    .slider_nav__link img{
        display: block;
        max-width: 60%;
        margin: 0 auto;
    }
    .slide-tabs_content {
        width: 80%;
        margin: 0 auto;
        float: none;
        padding-bottom: 50%;
    }
    .tabs_content__img {
        top: 0;
    }
    .slide-tabs_buttons {
        width: 80%;
        margin: 0 auto;
        float: none;
    }
}
@media screen and (max-width: 560px){
    .section_title {
        font-size: 24px;
        line-height: 28px;
    }
    .slider_nav__link img{
        max-width: 100%;
    }
    .includes {
        padding-top: 40px;
    }
    .action {
        margin-top: 35px;
    }
    .slide-tabs_content {
        width: 100%;
        padding-bottom: 65%;
    }
    .slide-tabs_buttons {
        width: 100%;
    }
    .tab_describe__title {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 22px;
    }
    .tab_describe__text {
        font-size: 14px;
        line-height: 20px;
    }
    .slide-tabs_describe {
        padding: 10px;
    }
    .range-slider {
        padding-top: 65px;
    }
    .range-slider_mark {
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .asRange .asRange-pointer .asRange-tip:before {
        font-size: 12px;
        width: 70px;
        margin-left: -35px;
    }
    .range-devider_item {
        width: 1px;
        height: 6px;
    }
    .range-devider_item:first-child {
        margin-left: -2px;
    }
    .range-devider_item:last-child {
        margin-right: -2px;
    }

}