@font-face {
	font-family:'Roboto-Bold';
	src: url('../fonts/Roboto-Bold_gdi.eot') format('embedded-opentype'),
		url('../fonts/Roboto-Bold_gdi.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Roboto-Light';
	src: url('../fonts/Roboto-Light_gdi.eot') format('embedded-opentype'),
		url('../fonts/Roboto-Light_gdi.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}