/*

1. common styles


*/

/*------------------------------
        1. common styles
-------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html, body {
    background: #3A3A3A;
    height: 100%;
}

.container {
    min-width: 320px;
    max-width: 1200px;
}

.col-nopaddings {
    padding-right: 0;
    padding-left: 0;
}

.wrap {
    background: #3A3A3A;
    color: #fff;
    padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
    .anchor-block div {
        padding-left: 0;
    }

    .wrap {
        padding-bottom: 10px;
    }
}

/*----------------------
---------------------*/
.section-header {
    padding-top: 30px;
}

.logo-header {
    display: block;
    float: left;
}
.logo-header img {
    max-height: 100%;
}
.main-title {
    position: relative;
    float: left;
    color: #fff;
    margin: 22px 0 0 40px;
    font: normal 26px/32px HelveticaNeue, Verdana, sans-serif;
    text-transform: uppercase;
}

.main-title:before {
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    background: #fff;
    width: 150px;
    height: 4px;
    border-left: 50px #42a139 solid;
    border-right: 50px #cb2c28 solid;
}

.main-title span {
    font: bold 32px/32px HelveticaNeue, Verdana, sans-serif;
}

@media screen and (max-width: 767px) {
    .logo-header {
        height: 100px;
    }
.main-title {
        margin: 18px 0 0 30px;
        font: normal 20px/25px HelveticaNeue, Verdana, sans-serif;
    }
    .main-title span {
        font: bold 22px/25px HelveticaNeue, Verdana, sans-serif;
    }
.main-title:before {
        top: -18px;
        width: 90px;
        height: 3px;
        border-left: 30px #42a139 solid;
        border-right: 30px #cb2c28 solid;
    }
}
@media screen and (max-width: 560px) {
    .section-header {
        padding-top: 15px;
        margin-bottom: 5px;
    }
    .logo-header {
        height: 70px;
    }
.main-title {
        margin: 13px 0 0 10px;
        font: normal 14px/18px HelveticaNeue, Verdana, sans-serif;
    }
    .main-title span {
        font: bold 14px/18px HelveticaNeue, Verdana, sans-serif;
    }
.main-title:before {
        top: -13px;
    }
}

/*----------------------
---------------------*/

.product-block {
    margin-top: 7%;
    margin-bottom: 2%;
    display: flex;
    align-content: stretch;
}

.first-section .product-block {
    margin-top: 1%;
}

.secondary .product-block {
    margin-top: 9%;
}

.product-img {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 72%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background: #2e6da4;*/
    font-size: 16px;
}

.product-text_wrap p {
    font: normal 18px/26px HelveticaNeue, Verdana, sans-serif;
    margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
    .product-text_wrap p {
        font: normal 16px/22px HelveticaNeue, Verdana, sans-serif;
        margin-bottom: 45px;
        margin-top: 2%;
    }
}


@media screen and (max-width: 560px) {
    .product-text_wrap p {
        font: normal 12px/18px HelveticaNeue, Verdana, sans-serif;
    }
}

.c-btn {
    display: block;
    width: 100%;
    background: #808080;
    font: bold 18px/48px HelveticaNeue, Verdana, sans-serif;
    height: 48px;
    text-align: center;
    text-transform: uppercase;
    transition: background .3s ease;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.c-btn.c-large {
    height: 100px;
    font: bold 36px/100px HelveticaNeue, Verdana, sans-serif;
}

.c-btn:hover, .c-btn.c-inverse {
    background: #ff0400;
}

.c-btn.c-inverse:hover {
    background: #808080;
}

.c-btn:active {
    transform: translate(1px, 1px);
}

.c-btn-mobile {
    display: none;
    font: bold 14px/40px HelveticaNeue, Verdana, sans-serif;
    height: 40px;
    width: 140px;
    margin: 2% auto;
}
@media screen and (max-width: 991px) {
    .c-btn.c-large {
        height: 80px;
        font: bold 28px/80px HelveticaNeue, Verdana, sans-serif;
    }
}
@media screen and (max-width: 767px) {
    .c-btn.c-large {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 40px;
        font: bold 14px/40px HelveticaNeue, Verdana, sans-serif;
    }

    .c-btn-mobile {
        display: block;
    }

    .c-hidd-mobile {
        display: none;
    }
}

/*----------------------
---------------------*/
.anchor-block div {
    margin-top: 2%;
}

.anchor-link {
    position: relative;
    padding-bottom: 72%;
    overflow: hidden;
}

.anchor-link a {
    position: absolute;
    width: 100%;
    padding-bottom: 72%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .8s ease;
}

.anchor-link:hover a {
    transform: scale(1.2);
}

/*----------------------
---------------------*/
.download-title {
    float: left;
    color: #fff;
    margin: 0 0 0 0;
    font: normal 32px/36px HelveticaNeue, Verdana, sans-serif;
    text-transform: uppercase;
}
.footer-contact {
    padding-left: 15px;
    font: normal 14px/18px HelveticaNeue, Verdana, sans-serif;
}
.end-section .main-title {
    margin: 0 0 0 60px;
}
.product-list {
    list-style: none;
    margin-bottom: 2%;
}
.product-list li {
    position: relative;
    overflow: hidden;
    float: left;
    width: 18%;
    padding-bottom: 18%;
    margin: 2.5% 2.5% 0 0;
}

.product-list li:nth-child(5n) {
    margin-right: 0;
}

.product-list a {
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .8s ease;
}
.product-list a span {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    text-align: center;

}
.next-btn {
    display: block;
    margin: 20px auto 0;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-top: 14px solid #048689;
    cursor: pointer;
}
@media screen and (max-width: 991px) {
    .download-title {
        font: normal 28px/30px HelveticaNeue, Verdana, sans-serif;
    }
}
@media screen and (max-width: 767px) {
    .download-title {
        font: normal 20px/25px HelveticaNeue, Verdana, sans-serif;
    }
    .footer-contact {
        font: normal 12px/18px HelveticaNeue, Verdana, sans-serif;
    }

    .product-list li {
        width: 32%;
        padding-bottom: 32%;
        margin: 2% 2% 0 0;
    }

    .product-list li:nth-child(5n) {
        margin-right: 2%;
    }

    .product-list li:nth-child(3n) {
        margin-right: 0;
    }

    .product-list li:nth-child(3n) {
        margin-right: 0;
    }

    .product-list li:nth-child(10) {
        display: none;
    }

    .next-btn {
        margin: 0 auto;
    }
}
.footer-contact span{
    display: inline-block;
}
/*---------------------
modal
-----------------------*/
.modal {
    width: 600px;
    height: 350px;
    background: #808080;
    color: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 62px 40px;
    font: normal 18px/24px HelveticaNeue, Verdana, sans-serif;
}
.modal-contact {
    padding: 20px 40px;
}
.modal  label {
    font: normal 18px/24px HelveticaNeue, Verdana, sans-serif;
}
.modal  span {
    font: normal 16px/44px HelveticaNeue, Verdana, sans-serif;
}
.modal-contact span {
    font: normal 16px/20px HelveticaNeue, Verdana, sans-serif;
}
.modal-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
.modal-close span{
    display: block;
    width: 3px;
    height: 20px;
    margin: 3px 11px;
    background: #fff;
    transform: rotate(-45deg);
}
.modal-close span:before {
    content: '';
    display: block;
    width: 3px;
    height: 20px;
    background: #fff;
    transform: rotate(-90deg);
}

.modal input {
    display: block;
    height: 40px;
    width: 100%;
    margin:20px 0 20px 0;
    padding: 0 25px;
    border: none;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.6);
    font: normal 16px/40px HelveticaNeue, Verdana, sans-serif;
    color: #000;
    transition: box-shadow 0.5s ease;
    -webkit-appearance: none;
}
.modal-contact.modal input {
    margin:5px 0 20px 0;
}
input::-webkit-input-placeholder {
    color: #969696;
}

.modal input:hover {
    background: #fff;
}

.modal input:active,
.modal input:focus {
    background: #fff;
    outline: none;
}

.modal input[type="submit"] {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 120px;
    height: 40px;
    background: #3A3A3A;
    color: #fff;
    border-radius: 0;
    -webkit-appearance: none;
}

.modal input[type="submit"]:hover {
    background: #6e6e6e;
}
.modal-contact.modal input[type="submit"] {
    position: absolute;
    bottom: -5px;
    right: 40px;
}
/* Пoдлoжкa */
#overlay {
    z-index: 3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position: fixed; /* всегдa перекрывaет весь сaйт */
    background-color: #000; /* чернaя */
    opacity: 0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity: 0.8; /* фикс прозрачности для старых браузеров */
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%; /* рaзмерoм вo весь экрaн */
    top: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left: 0;
    cursor: pointer;
    display: none; /* в oбычнoм сoстoянии её нет) */
}
@media screen and (max-width: 767px) {
    .modal {
        width: 300px;
        height: 234px;
        margin-top: -117px;
        margin-left: -150px;
        padding: 15px 10px;
    }
    .modal  label {
        font: normal 14px/16px HelveticaNeue, Verdana, sans-serif;
        width: 200px;
    }
    .modal  span {
        font: normal 12px/12px HelveticaNeue, Verdana, sans-serif;
    }
    .modal input {
        height: 30px;
        margin:10px 0 10px 0;
        padding: 0 15px;
        border: none;
        font: normal 14px/30px HelveticaNeue, Verdana, sans-serif;
    }
    .modal input[type="submit"] {
        bottom: 0;
        right: 10px;
        width: 80px;
        height: 30px;
    }
    .modal-contact.modal input[type="submit"] {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .modal-contact.modal input {
        margin: 0;
    }
}


.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 2.0s;
    animation-duration: 2.0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    75% {
        opacity: 0.4;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    75% {
        opacity: 0.4;
    }
}