/*

1. common styles
2. header
3. main content
4. footer

*/

/*------------------------------
        1. common styles
-------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html,
body,
.wrap {
    height: 100%;
    font-family: Arial, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
}

.container {
    position: relative;
    max-width: 920px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 10px;
}

.hidden {
    display: none;
}

/*------------------------------
        2. header
-------------------------------*/
.main-title {
    font-family: 'EtelkaText';
    font-size: 48px;
    line-height: 48px;
    margin: 35px 0;
}

.header-nav {
    position: relative;
    padding: 8px 15px;
    background: #e5e5e5;
    border-radius: 8px;

}

.header-nav_list__item {
    display: inline-block;
    font-family: 'EtelkaText';
    font-size: 14px;
}

.header-nav_list__link {
    position: relative;
    display: inline-block;
    padding: 0 18px;
    color: #000;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.header-nav_list__link:before {
    position: absolute;
    bottom: -20px;
    left: 10%;
    content: '';
    width: 80%;
    height: 1px;
    background: #000;
    opacity: 0;
    transition: all .3s ease;
}

.header-nav_list__link:hover:before {
    bottom: 0;
    opacity: 1;
}

.header-nav_list__link:active:before {
    bottom: 20px;
    opacity: 0;
}

.header-nav_trigger {
    display: none;
    position: absolute;
    right: 10px;
    top: 4px;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

.header-nav_trigger__icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 22px;
    height: 2px;
    background: #fff;
}

.header-nav_trigger__icon:before, .header-nav_trigger__icon:after {
    content: '';
    position: absolute;
    right: 0;
    top: 7px;
    width: 22px;
    height: 2px;
    background: #fff;
    transform-origin: 50% 50%;
}

.header-nav_trigger__icon:after {
    top: -7px;
}

.vis-menu .header-nav_trigger__icon {
    background: transparent;
}

.vis-menu .header-nav_trigger__icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.vis-menu .header-nav_trigger__icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*------------------------------
        3. main content
-------------------------------*/
.main-content {
    padding-top: 38px;
    padding-bottom: 50px;
}

.main-content_image {
    width: 32%;
    display: block;
    margin-bottom: 32px;
}

.main-content_text {
    width: 68%;
    padding-left: 25px;
    float: right;
    font-size: 14px;
    line-height: 22px;
}

.main-content_text p {
    padding-bottom: 35px;
}

.additional-info_title {
    margin-bottom: 22px;
}

.additional-info_item {
    margin-bottom: 14px;
    cursor: pointer;
}

.additional-info_link {
    position: relative;
    margin-left: 8px;
    line-height: 14px;
    text-decoration-style: dashed;
    color: #0055a5;
}

.additional-info_item .additional-icon {
    line-height: 14px;
}

.additional-info_item:hover .additional-info_link {
    color: #df4343;
    text-decoration: underline;
}

.additional-info_item:hover .additional-icon {
    color: #df4343;
}

/*----- modal ------*/
.modal {
    width: 380px;
    height: 350px;
    background: #fff;
    color: #000;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -190px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 10px 20px;
    text-align: center;
}

.modal-title {
    font-family: 'EtelkaText';
    font-size: 24px;
    line-height: 24px;
    margin: 15px 0;
    text-align: left;
}

.modal-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}

.modal-close span {
    display: block;
    width: 3px;
    height: 20px;
    margin: 3px 11px;
    background: #a2a2a2;
    transform: rotate(-45deg);
}

.modal-close span:before {
    content: '';
    display: block;
    width: 3px;
    height: 20px;
    background: #a2a2a2;
    transform: rotate(-90deg);
}

.modal input[type="text"] {
    display: block;
    height: 30px;
    width: 100%;
    margin: 3px 0 20px 0;
    padding: 0 25px;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #fff;
    color: #000;
    -webkit-appearance: none;
}

.modal textarea {
    width: 100%;
    height: 110px;
    margin: 3px 0 20px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #fff;
    color: #000;
    resize: none;
}

.modal label {
    display: block;
    text-align: left;
    font-size: 12px;;
}

.modal input[type="text"]:active,
.modal input[type="text"]:focus,
.modal textarea:active,
.modal textarea:focus {
    border-color: #eb960c;
    background: #fff;
    outline: none;
}

.modal input[type="submit"] {
    display: inline-block;
    line-height: 34px;
    width: auto;
    height: 34px;
    padding: 0 25px;
    background: linear-gradient(#f4c029, #eb960c);
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    -webkit-appearance: none;
}

.modal input[type="submit"]:hover {
    background: #eb960c;
}

.modal input[type="submit"]:active {
    background: linear-gradient(#c47d0a, #eb960c);
}

.overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

/*------------------------------
        4. footer
-------------------------------*/

.footer {
    background: #f2f2f2;
    border-radius: 8px;
    padding: 32px 20px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #666666;
}

.footer .copyright-link {
    color: #666666;
    text-decoration: none;
}

.footer .copyright-link:hover {
    color: #3d3d3d;
    text-decoration: underline;
}

@media screen and (max-width: 620px) {
    .main-title {
        font-size: 32px;
        line-height: 32px;
        margin: 25px 0;
    }

    .header-nav {
        min-height: 40px;
        padding: 0;
    }

    .header-nav_trigger {
        display: block;
    }

    .header-nav_list {
        display: none;
    }

    .vis-menu .header-nav_list {
        padding-top: 40px;
        padding-bottom: 20px;
        display: block;
    }

    .header-nav_list__item {
        display: block;
    }

    .header-nav_list__link {
        width: 100%;
        padding: 0 18px;
        line-height: 34px;
        text-align: center;
    }

    .header-nav_list__link:before {
        display: none;
    }

    .header-nav_list__link:hover {
        background: rgba(199, 199, 199, 0.38);
    }

    .header-nav_list__link:active {
        background: rgba(176, 176, 176, 0.56);
    }

    .content-wrap {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;

    }

    .main-content_image {
        width: 100%;

    }

    .main-content_text {
        width: 100%;
        padding-left: 0;
    }

}

@media screen and (max-width: 420px) {
    .modal {
        width: 90%;
        left: 5%;
        margin-top: -190px;
        margin-left: auto;
        margin-right: auto;
    }
}
